In [107]:
import requests
import numpy as np
import pandas as pd
from bs4 import BeautifulSoup

In [108]:
page = requests.get("https://www.distance-cities.com/distance-raleigh-nc-to-durham-nc")
content = BeautifulSoup(page.content, 'html.parser')
mileage = content.find(id = 'sud')
mileage.get_text()

'24 mi'

In [109]:
wiki = requests.get("https://en.wikipedia.org/wiki/List_of_NCAA_Division_I_FBS_football_stadiums")
wiki_content = BeautifulSoup(wiki.content, 'html.parser')

In [111]:
names = []
for column_names in wiki_content.find_all('th'):
    names.append(column_names.get_text())
names

['Image',
 'Stadium',
 'City',
 'State',
 'Team',
 'Conference',
 'Capacity',
 'Record1',
 'Built',
 'Expanded 2',
 'Surface\n',
 'Stadium',
 'City',
 'State',
 'Team',
 'Conference',
 'Capacity',
 'Record1',
 'Built',
 'Expanded2',
 'Surface\n']

In [106]:
table_body = wiki_content.find('tbody')
cells = table_body.find_all('tr')

data_matrix = []
for i in range(len(cells)):
    team_row = []
    for content in cells[i].find_all('td'):
        text = content.get_text()
        team_row.append(text)
    data_matrix.append(team_row)

df = pd.DataFrame(data_matrix)
df = df.replace('\n','', regex=True)
team_city = df[df.columns[2:5]]


predictions = pd.read_csv('/Users/juanhuml/Desktop/STOR390/Data/Predictions.csv')
home = pd.merge(predictions, team_city, left_on='Home Team', right_on=4)
home_away = pd.merge(home, team_city, left_on = 'Visitor Team', right_on = 4)
cities = home_away[home_away.columns[13:]]
cities

                2_x   3_x             4_x            2_y   3_y             4_y
0           Clemson    SC         Clemson  Winston-Salem    NC     Wake Forest
1          Syracuse    NY        Syracuse  Winston-Salem    NC     Wake Forest
2            Durham    NC            Duke       Syracuse    NY        Syracuse
3        Louisville    KY      Louisville       Syracuse    NY        Syracuse
4            Durham    NC            Duke         Oxford    OH           Miami
5            Durham    NC            Duke  Miami Gardens    FL           Miami
6             Miami    FL             FIU         Oxford    OH           Miami
7             Miami    FL             FIU  Miami Gardens    FL           Miami
8           Atlanta    GA    Georgia Tech     Blacksburg    VA   Virginia Tech
9   Charlottesville    VA        Virginia     Blacksburg    VA   Virginia Tech
10          Atlanta    GA    Georgia Tech        Raleigh    NC        NC State
11          Atlanta    GA    Georgia Tech         Athens    GA         Georgia
12          Raleigh    NC        NC State     Louisville    KY      Louisville
13        Lexington    KY        Kentucky     Louisville    KY      Louisville
14          Raleigh    NC        NC State    Chapel Hill    NC  North Carolina
15       Notre Dame    IN      Notre Dame  Chestnut Hill    MA  Boston College
16       Pittsburgh    PA      Pittsburgh  Chestnut Hill    MA  Boston College
17    Winston-Salem    NC     Wake Forest         Durham    NC            Duke
18       Blacksburg    VA   Virginia Tech     Pittsburgh    PA      Pittsburgh
19  Charlottesville    VA        Virginia      Lynchburg    VA         Liberty
20         Columbia    SC  South Carolina        Clemson    SC         Clemson
21      Gainesville    FL         Florida    Tallahassee    FL   Florida State
22             None  None            None           None  None            None
23             None  None            None           None  None            None

In [100]:
#I'll clean this up: if no hyphens in city like 'Miami Garden', the url ignores the city name
for i in range(len(cities)-2):
    page = requests.get("https://www.distance-cities.com/distance-"+cities['2_x'].iloc[i]+ "-"
                        +cities['3_x'].iloc[i]+"-to-"+cities['2_y'].iloc[i]+"-"+cities['3_y'].iloc[i])
    content = BeautifulSoup(page.content, 'html.parser')
    mileage = content.find(id = 'sud')
    print(mileage.get_text())

208 mi
646 mi
623 mi
678 mi
537 mi
0 mi
1,145 mi
0 mi
407 mi
149 mi
406 mi
72 mi
564 mi
78 mi
0 mi
0 mi
0 mi
80 mi
321 mi
68 mi
132 mi
149 mi